[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
twine = "*"
wheel = "*"
pytest = "*"
cibuildwheel = "*"
setuptools-golang = "*"

[scripts]
dev = "python setup.py build_ext --inplace"
clean = "rm -rf build dist jsonatago.egg-info"
wheel = "python setup.py bdist_wheel"
test = "pytest -s"
release = "twine upload dist/*"

[requires]
python_version = "3.10"
